In [1]:
#pip install word2number

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from  word2number import w2n

In [3]:
df=pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [4]:
import math
testscoremedian=math.floor(df['test_score(out of 10)'].mean())
testscoremedian

7

In [5]:
df.experience=df.experience.fillna('zero')

In [6]:
df['test_score(out of 10)']=df['test_score(out of 10)'].fillna(testscoremedian)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0       zero                    8.0                           9      50000
1       zero                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    7.0                           7      72000
7     eleven                    7.0                           8      80000

In [7]:
df.experience=df.experience.apply(w2n.word_to_num)

In [8]:
rg=linear_model.LinearRegression()

In [9]:
rg.fit(df[['experience','test_score(out of 10)','interview_score(out of 10)']],df['salary($)'])

LinearRegression()

In [10]:
rg.predict([[2,9,6]])

array([53713.86677124])

In [11]:
rg.predict([[12,10,10]])

array([93747.79628651])